<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
      /* Estilos de email podem ser adicionados aqui */
    </style>
  </head>
  <body>
    <h1>Bem-vindo ao nosso site!</h1>
    <p>Olá <%= @user.email %>,</p>
    <p>Seja bem-vindo ao Pipoca Ágil. Agradecemos por se juntar a nós.</p>
    <!-- Adicione mais conteúdo personalizado conforme necessário -->
  </body>
</html>
