

<!DOCTYPE html>
<html>
<head>
  <title>Confirmação Pendente</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
    }

    .logo {
      margin-top: 30px;
      margin-bottom: -20px;
    }

    .logo img {
      width: 500px;
    }

    .message-container {
      background-color: #ffffff;
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px;
      margin-left: auto;
      margin-right: auto;
      max-width: 700px;
    }

    .message {
      font-size: 16px;
      color: #000000;
      font-weight: bold;
      margin-bottom: 20px;
    }

    .back-link {
      display: inline-block;
      margin-top: 20px;
      color: #000000;
      text-decoration: none;
      position: relative;
      left: calc(-15% - 100px);
    }

    .back-link::before {
      content: "\2190 ";
    }
  </style>
</head>
<body>
  <div class="logo">
    <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1685651699/logo_pipoca_agil_1_zmmdlk.png" alt="Logo">
  </div>
  <div class="message-container">
    <div class="message">
      <p>Acabamos de receber seu cadastro! Muito obrigado por se juntar à nossa comunidade! <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1685722321/icone-emoji-festa-confete-na-rede-social-do-clube-icone-de-vetor-de-biscoito-de-feliz-aniversario_256722-319_ruxmnl.avif" alt="Ícone de Festa" style="width: 38px; height: 38px; vertical-align: middle;"> Só falta um último passo para que você possa aproveitar todos os benefícios.</p>
      <p>Acabamos de enviar um link de confirmação para o seu e-mail. Dê uma olhada na sua caixa de entrada (e verifique também a pasta de spam). Assim que clicar nele, seu cadastro será oficialmente confirmado.</p>
    </div>
  </div>
  <a class="back-link" href="/">Voltar</a>
</body>
</html>
