
<!DOCTYPE html>
<html>
<head>
  <title>Confirmação Pendente</title>
  <style>
    body {
      text-align: center;
      font-family: Arial, sans-serif;
      background-color: #f2f2f2; /* cor de fundo da página */
    }

    .logo {
      margin-top: 30px;
      margin-bottom: -10px; /* margem negativa para mover a logo para cima */
    }

    .logo img {
      width: 200px; /* ajuste o tamanho conforme necessário */
    }

    .message-container {
      background-color: #ffffff; /* fundo branco */
      margin-top: 20px;
      padding: 20px;
      border-radius: 10px; /* bordas arredondadas */
      margin-left: auto;
      margin-right: auto;
      max-width: 700px; /* largura máxima do contêiner */
    }

    .message {
      font-size: 16px;
      color: #000000; /* preto mais forte */
      font-weight: bold;
      margin-bottom: 20px;
    }
  </style>
</head>
<body>
  <div class="logo">
    <img src="https://res.cloudinary.com/dbtr2yaho/image/upload/v1684956837/Sem_t%C3%ADtulo_yfiutx.png" alt="Logo">
  </div>
  <div class="message-container">
    <div class="message">
      <p>Enviamos um email de confirmação para você. Por favor, verifique a sua caixa de entrada ou a sua pasta de spam para concluir o seu cadastro.</p>
    </div>
  </div>
  <div class="message-container">
    <div class="message">
      <p>Se você já se cadastrou no site Podcast Pipoca Ágil, por favor, ignore este email.</p>
    </div>
  </div>
</body>
</html>
